<table class="criticalstrikestable">
    <tr class="tableheaderrow">
        <td class="roll">Roll</td>
        <td class="resultdescription">Result</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.11 Pierce Critical Strikes Table" data-roll="1-5"
        data-result="Swoosh! That was close! No extra damage." data-woundtitle="null" data-condition="null"
        data-hits1="0" data-bleed1="0" data-action1="0" data-effect1="null" data-hits2="0" data-bleed2="0"
        data-action2="0" data-effect2="null">
        <td class="roll">1-5</td>
        <td class="resultdescription">Swoosh! That was close! No extra damage.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.11 Pierce Critical Strikes Table" data-roll="06-20"
        data-result="Graze to the shoulder. +3 Damage." data-woundtitle="null" data-condition="null" data-hits1="3"
        data-bleed1="0" data-action1="0" data-effect1="null" data-hits2="0" data-bleed2="0" data-action2="0"
        data-effect2="null">
        <td class="roll">06-20</td>
        <td class="resultdescription">Graze to the shoulder. +3 Damage.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.11 Pierce Critical Strikes Table" data-roll="21-35"
        data-result="Thigh strike, +3 Damage. If the target is not wearing leg protection, the blow lunges deeper: 3 Bleed."
        data-woundtitle="Pierced Thigh" data-condition="leg armor" data-hits1="3" data-bleed1="0" data-action1="0"
        data-effect1="null" data-hits2="3" data-bleed2="3" data-action2="0" data-effect2="null">
        <td class="roll">21-35</td>
        <td class="resultdescription">Thigh strike, +3 Damage. If the target is not wearing leg protection, the blow
            lunges deeper: 3 Bleed.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.11 Pierce Critical Strikes Table" data-roll="36-50"
        data-result="Minor scratch to the forearm: +2 Damage. If the target is unarmored on the forearm, they’re also Stunned."
        data-woundtitle="null" data-condition="forearm armor" data-hits1="2" data-bleed1="0" data-action1="0"
        data-effect1="null" data-hits2="2" data-bleed2="0" data-action2="0" data-effect2="stun">
        <td class="roll">36-50</td>
        <td class="resultdescription">Minor scratch to the forearm: +2 Damage. If the target is unarmored on the
            forearm, they’re also Stunned.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.11 Pierce Critical Strikes Table" data-roll="51-65"
        data-result="Strike grazes target's side: 1 Bleed and Stunned." data-woundtitle="Pierced Side"
        data-condition="null" data-hits1="0" data-bleed1="1" data-action1="0" data-effect1="stun" data-hits2="0"
        data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">51-65</td>
        <td class="resultdescription">Strike grazes target's side: 1 Bleed and Stunned.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.11 Pierce Critical Strikes Table" data-roll="66-79"
        data-result="Direct shot the chest. If the target is unarmored, the strike pierces deep: +8 Damage, 4 Bleed, and Stunned. If the target is wearing armor: +4 Damage and 2 Bleed."
        data-woundtitle="Pierced Chest" data-condition="chest armor" data-hits1="4" data-bleed1="2" data-action1="0"
        data-effect1="null" data-hits2="8" data-bleed2="4" data-action2="0" data-effect2="stun">
        <td class="roll">66-79</td>
        <td class="resultdescription">Direct shot the chest. If the target is unarmored, the strike pierces deep: +8
            Damage, 4 Bleed, and Stunned. If the target is wearing armor: +4 Damage and 2 Bleed.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.11 Pierce Critical Strikes Table" data-roll="80-89"
        data-result="Strike to lower leg under the knee. Tendons and muscle torn. +3 Damage, Stunned, and -25 to all actions."
        data-woundtitle="Pierced Leg" data-condition="null" data-hits1="3" data-bleed1="0" data-action1="25"
        data-effect1="stun, crippled leg" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">80-89</td>
        <td class="resultdescription">Strike to lower leg under the knee. Tendons and muscle torn. +3 Damage, Stunned,
            and -25 to all actions.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.11 Pierce Critical Strikes Table" data-roll="90-99"
        data-result="Major abdominal wound. If the target is armored: +4 Damage, 3 Bleed. If not: +10 Damage, 6 Bleed, -20 to all actions, and Stunned."
        data-woundtitle="Pierced Abdomen" data-condition="abdomen armor" data-hits1="4" data-bleed1="3" data-action1="0"
        data-effect1="null" data-hits2="10" data-bleed2="6" data-action2="20" data-effect2="stun">
        <td class="roll">90-99</td>
        <td class="resultdescription">Major abdominal wound. If the target is armored: +4 Damage, 3 Bleed. If not: +10
            Damage, 6 Bleed, -20 to all actions, and Stunned.</td>
    </tr>
    <tr class="tablerow rollable max-superficial" data-type="critical" data-table="7.11 Pierce Critical Strikes Table"
        data-roll="100"
        data-result="Strike to the ear. If the target is wearing a helm: +5 Damage and Stunned. If the target is unarmored: ear and skull pierced through; target is in a coma and takes 5 Bleed."
        data-woundtitle="Pierced Ear" data-condition="helm" data-hits1="5" data-bleed1="0" data-action1="0"
        data-effect1="stun" data-hits2="0" data-bleed2="5" data-action2="0"
        data-effect2="unconscious, crippled ear, crippled skull">
        <td class="roll">100</td>
        <td class="resultdescription">Strike to the ear. If the target is wearing a helm: +5 Damage and Stunned. If the
            target is unarmored: ear and skull pierced through; target is in a coma and takes 5 Bleed.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.11 Pierce Critical Strikes Table"
        data-roll="101-106"
        data-result="Thigh strike. If the target is wearing armor: +5 Damage and 2 Bleed. If not, very deep pierce: +7 Damage, 5 Bleed, Stunned, and -30 to all actions."
        data-woundtitle="Pierced Thigh" data-condition="thigh armor" data-hits1="5" data-bleed1="2" data-action1="0"
        data-effect1="null" data-hits2="7" data-bleed2="5" data-action2="30" data-effect2="stun">
        <td class="roll">101-106</td>
        <td class="resultdescription">Thigh strike. If the target is wearing armor: +5 Damage and 2 Bleed. If not, very
            deep pierce: +7 Damage, 5 Bleed, Stunned, and -30 to all actions.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.11 Pierce Critical Strikes Table"
        data-roll="107-109"
        data-result="Strike to lower leg. If the target is armored, torn muscle: +4 Damage, -20 to all actions. If not, severed muscle: +6 Damage, -40 activity, Stunned."
        data-woundtitle="Pierced Leg" data-condition="leg armor" data-hits1="4" data-bleed1="0" data-action1="20"
        data-effect1="null" data-hits2="6" data-bleed2="0" data-action2="40" data-effect2="stun, crippled leg">
        <td class="roll">107-109</td>
        <td class="resultdescription">Strike to lower leg. If the target is armored, torn muscle: +4 Damage, -20 to all
            actions. If not, severed muscle: +6 Damage, -40 activity, Stunned.</td>
    </tr>
    <tr class="tablerow rollable max-light" data-type="critical" data-table="7.11 Pierce Critical Strikes Table"
        data-roll="110"
        data-result="Strike to the groin. If the target is wearing armor: +12 Damage, Stunned, and -20 to all actions. If not: +18 Damage, 5 Bleed, -30 to all actions, Stunned; the character's permanently infertile."
        data-woundtitle="Pierced Groin" data-condition="armor" data-hits1="12" data-bleed1="0" data-action1="20"
        data-effect1="stun" data-hits2="18" data-bleed2="5" data-action2="30" data-effect2="stun, crippled groin">
        <td class="roll">110</td>
        <td class="resultdescription">Strike to the groin. If the target is wearing armor: +12 Damage, Stunned, and -20
            to all actions. If not: +18 Damage, 5 Bleed, -30 to all actions, Stunned; the character's permanently
            infertile.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.11 Pierce Critical Strikes Table"
        data-roll="111-116"
        data-result="Piercing strike to the chest. If the target is wearing rigid armor: +5 Damage, 4 Bleed, Stunned, and -20 to all actions for a deep side cut. If not: lung pierced, +15 Damage, Stunned, and -50 activity, dies in 6 hours."
        data-woundtitle="Pierced Chest" data-condition="rigid armor" data-hits1="5" data-bleed1="4" data-action1="20"
        data-effect1="stun" data-hits2="15" data-bleed2="0" data-action2="50"
        data-effect2="stun, death[6 hr], crippled lung">
        <td class="roll">111-116</td>
        <td class="resultdescription">Piercing strike to the chest. If the target is wearing rigid armor: +5 Damage, 4
            Bleed, Stunned, and -20 to all actions for a deep side cut. If not: lung pierced, +15 Damage, Stunned, and
            -50 activity, dies in 6 hours.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.11 Pierce Critical Strikes Table"
        data-roll="117-119"
        data-result="Strike through the upper weapon arm severs tendons and muscle. +4 Damage, 4 Bleed, -20 to all actions, arm is useless."
        data-woundtitle="Pierced Arm" data-condition="null" data-hits1="4" data-bleed1="4" data-action1="20"
        data-effect1="crippled arm" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">117-119</td>
        <td class="resultdescription">Strike through the upper weapon arm severs tendons and muscle. +4 Damage, 4 Bleed,
            -20 to all actions, arm is useless.</td>
    </tr>
    <tr class="tablerow rollable max-moderate" data-type="critical" data-table="7.11 Pierce Critical Strikes Table"
        data-roll="120"
        data-result="Strike to the neck. If the target is wearing rigid neck protection: +5 Damage, 4 Bleed, Stunned. If not, artery punctured: +10 Damage, 15 Bleed, and Stunned."
        data-woundtitle="Pierced Neck" data-condition="rigid neck armor" data-hits1="5" data-bleed1="4" data-action1="0"
        data-effect1="stun" data-hits2="10" data-bleed2="15" data-action2="0" data-effect2="stun">
        <td class="roll">120</td>
        <td class="resultdescription">Strike to the neck. If the target is wearing rigid neck protection: +5 Damage, 4
            Bleed, Stunned. If not, artery punctured: +10 Damage, 15 Bleed, and Stunned.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.11 Pierce Critical Strikes Table"
        data-roll="121-126"
        data-result="Strike to the rear punctures the glute deep. +8 Damage, Stunned, and -40 to all actions."
        data-woundtitle="Pierced Glute" data-condition="null" data-hits1="8" data-bleed1="0" data-action1="40"
        data-effect1="stun" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">121-126</td>
        <td class="resultdescription">Strike to the rear punctures the glute deep. +8 Damage, Stunned, and -40 to all
            actions.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.11 Pierce Critical Strikes Table"
        data-roll="127-129"
        data-result="Strike through the armpit breaks shoulder's ligaments. +10 Damage, 6 Bleed, Stunned, -30 to all actions, and arm useless."
        data-woundtitle="Pierced Armpit" data-condition="null" data-hits1="10" data-bleed1="6" data-action1="30"
        data-effect1="stun, crippled arm" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">127-129</td>
        <td class="resultdescription">Strike through the armpit breaks shoulder's ligaments. +10 Damage, 6 Bleed,
            Stunned, -30 to all actions, and arm useless.</td>
    </tr>
    <tr class="tablerow rollable max-grievous" data-type="critical" data-table="7.11 Pierce Critical Strikes Table"
        data-roll="130"
        data-result="Strike to the forehead. If the target is wearing helm: +8 Damage, knocked unconscious for 30 minutes. If not: skull fractured, target Unconscious and dies in 10 minutes."
        data-woundtitle="Pierced Forehead" data-condition="helm" data-hits1="8" data-bleed1="0" data-action1="0"
        data-effect1="unconscious[30 min]" data-hits2="0" data-bleed2="0" data-action2="0"
        data-effect2="crippled skull, unconscious, death[10 min]">
        <td class="roll">130</td>
        <td class="resultdescription">Strike to the forehead. If the target is wearing helm: +8 Damage, knocked
            unconscious for 30 minutes. If not: skull fractured, target Unconscious and dies in 10 minutes.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.11 Pierce Critical Strikes Table"
        data-roll="131-136"
        data-result="Strike to the rear of the knee tears ligaments and damages muscle. Target is Prone, -60 activity, +8 Damage, 3 Bleed, and Stunned."
        data-woundtitle="Pierced Knee" data-condition="null" data-hits1="8" data-bleed1="3" data-action1="60"
        data-effect1="stun, prone, crippled leg" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">131-136</td>
        <td class="resultdescription">Strike to the rear of the knee tears ligaments and damages muscle. Target is
            Prone, -60 activity, +8 Damage, 3 Bleed, and Stunned.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.11 Pierce Critical Strikes Table"
        data-roll="137-140"
        data-result="Strike through leg severs an artery. Target falls unconscious and Bleeds for 15 to death."
        data-woundtitle="Pierced Leg" data-condition="null" data-hits1="0" data-bleed1="15" data-action1="0"
        data-effect1="unconscious" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">137-140</td>
        <td class="resultdescription">Strike through leg severs an artery. Target falls unconscious and Bleeds for 15 to
            death.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.11 Pierce Critical Strikes Table"
        data-roll="141-146"
        data-result="Strike through kidneys. +10 Damage. Target is knocked over and dies in 6 Rounds of agony."
        data-woundtitle="Pierced Kidney" data-condition="null" data-hits1="10" data-bleed1="0" data-action1="0"
        data-effect1="prone, death[6], crippled kidneys" data-hits2="0" data-bleed2="0" data-action2="0"
        data-effect2="null">
        <td class="roll">141-146</td>
        <td class="resultdescription">Strike through kidneys. +10 Damage. Target is knocked over and dies in 6 Rounds of
            agony.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.11 Pierce Critical Strikes Table"
        data-roll="147-149"
        data-result="Direct shot to the heart. If the target is wearing rigid armor: +20 Damage, Stunned, 8 Bleed, and -30 to all actions for deep cut. If not, target dies instantly."
        data-woundtitle="Pierced Heart" data-condition="rigid armor" data-hits1="20" data-bleed1="8" data-action1="30"
        data-effect1="stun" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="death">
        <td class="roll">147-149</td>
        <td class="resultdescription">Direct shot to the heart. If the target is wearing rigid armor: +20 Damage,
            Stunned, 8 Bleed, and -30 to all actions for deep cut. If not, target dies instantly.</td>
    </tr>
    <tr class="tablerow rollable max-lethal" data-type="critical" data-table="7.11 Pierce Critical Strikes Table"
        data-roll="150" data-result="Strike through the eye into the brain. Instant death."
        data-woundtitle="Pierced Eye" data-condition="null" data-hits1="0" data-bleed1="0" data-action1="0"
        data-effect1="death, crippled eye, crippled brain" data-hits2="0" data-bleed2="0" data-action2="0"
        data-effect2="null">
        <td class="roll">150</td>
        <td class="resultdescription">Strike through the eye into the brain. Instant death.</td>
    </tr>
</table>