{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="portrait" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize " local.item.name"}}" />
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.Melee-Attack.formula"}}</label>
            <input type="text" name="system.formula" value="{{item.system.formula}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.Melee-Attack.damage"}}</label>
            <select name="system.damage">
                {{selectOptions config.selectOptions.melee_damage selected=item.system.damage valueAttr="value"
                labelAttr="label" localize=true}}
            </select>
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.Melee-Attack.damageType"}}</label>
            <select name="system.damageType">
                {{selectOptions config.selectOptions.melee_damageType selected=item.system.damageType valueAttr="value"
                labelAttr="label" localize=true}}
            </select>
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.Melee-Attack.secondary"}}</label>
            <select name="system.secondary">
                {{selectOptions config.selectOptions.melee_secondary selected=item.system.secondary valueAttr="value"
                labelAttr="label" localize=true}}
            </select>
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.Melee-Attack.armourDiv"}}</label>
            <input type="text" name="system.armourDiv" value="{{item.system.armourDiv}}" data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.Melee-Attack.reach"}}</label>
            <input type="text" name="system.reach" value="{{item.system.reach}}" data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.Melee-Attack.weight"}}</label>
            <input type="text" name="system.weight" value="{{item.system.weight}}" data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.group"}}</label>
            <input type="text" name="system.group" value="{{item.system.group}}" data-dtype="String" />
        </div>
        <hr>
        <h3>{{localize "local.item.notes"}}</h3>
        <div class="tab">
            <textarea rows="18" name="system.notes">{{{system.notes}}}</textarea>
        </div>
        <script>
            $("input").focusin(function () {
                $(this).select();
            });
            $("textarea").focusin(function () {
                $(this).select();
            }); 
        </script>
    </section>
</form>