{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="portrait" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize " local.item.name"}}" />
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow">
            <input type="checkbox" name="system.applied" {{checked item.system.applied}} data-dtype="Boolean" />
            <label class="resource-label">{{localize "local.item.Trait.applied"}}</label>
        </div>
        <hr>

        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.category"}}</label>
            <select name="system.category">
                {{selectOptions config.selectOptions.trait_category selected=item.system.category valueAttr="value" labelAttr="label" localize=true}}
            </select>
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "local.item.group"}}</label>
            <input type="text" name="system.group" value="{{item.system.group}}" data-dtype="String" />
        </div>
        <hr>
        <h3>{{localize "local.item.notes"}}</h3>
        <div class="tab">
            <textarea rows="18" name="system.notes">{{{system.notes}}}</textarea>
        </div>
        <script>
            $("input").focusin(function () {
                $(this).select();
            });
            $("textarea").focusin(function () {
                $(this).select();
            }); 
        </script>
    </section>
</form>